@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html {
  font-family: "Noto Sans JP";
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

header {
  padding: 5.0rem 0 2.5rem;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

nav {
  width: 60.0rem;
  margin: auto;
  display: flex;
  justify-content: space-around;

  div {
    width: 30%;
    padding: 1.0rem;
    border: none;
    border-radius: 2.5rem;
    background-color: #ccc;
    box-shadow: 0.3rem 0.3rem 0.3rem #999;
    font-size: 1.8rem;
    opacity: 0.5;
    text-align: center;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      border: none;
    }

    &.active {
      opacity: 1.0;
    }
  }
}

#home,
#post,
#search {
  display: none;
}

#home.active,
#post.active,
#search.active {
  display: block;
}

#disp_text {
  padding: 2.0rem 0 0.5rem;
  background-color: #ccc;
  margin: 2.0rem auto;
  width: 56.0rem;
  border-radius: 0.8rem;

  h2 {
    text-align: center;
  }

  ol {
    width: 50.0rem;
    margin: auto;
    list-style: none;

    li {
      width: 100%;
    }
  }
}

#ul {
  width: 60.0rem;
  margin: auto;
  list-style: none;
  padding: 2.0rem;

  li {
    display: flex;
    position: relative;
    padding: 1.0rem;
    margin: 0 0 1.0rem;
    border-radius: 1.0rem;
    background-color: #ccc;

    dl {
      display: flex;

      dt {
        width: 16.0rem;
        padding: 2.0rem;
      }

      dd {
        width: 38.0rem;
        padding: 2.0rem;
      }
    }

    .delete {
      width: 3.0rem;
      height: 3.0rem;
      display: block;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }
  }
}

#form {
  padding: 2.5rem 0;
  width: 50.0rem;
  margin: auto;

  P {
    margin: 0 0 2.0rem;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    span {
      padding: 0.8rem;
      border-radius: 0.8rem;
      background-color: #ccc;
    }

    input {
      margin-top: -1.0rem;
      width: 80%;
      padding: 0.8rem;
      border-radius: 0.8rem;
      font-size: 2.0rem;
      float: right;
    }
  }

  button {
    width: 100%;
    padding: 1.0rem;
    font-size: 2.0rem;
    border-radius: 0.8rem;
  }
}

#search {
  width: 60.0rem;
  margin: 1.0rem auto;
  padding: 1.0rem 2.0rem;
  #search_text {
    border-radius: 1.0rem;
    background-color: #ccc;
    padding: 2.0rem;
    h2 {
      text-align: center;
    }
    ol {
      list-style: none;
      padding: 0;
      li {
        text-align: center;
      }
    }
    #searchF{
      width: 80%;
      padding: 0.8rem;
      border-radius: 0.8rem;
      font-size: 2.0rem;
      margin: 2.0rem auto;
      display: block;
    }

    #search_ul {
      width: 60.0rem;
    }
  }
}


footer {
  padding: 2.5rem 0 5.0rem;

  p {
    text-align: center;
  }
}

input[type="text"]:focus-ring{
  outline: none;
}
